@(bookForm : Form[Book])
@import helper._;
@import views.html.partials._bookFormFields;

@layout("Edit Book"){
        <h1>Edit Book</h1>
        @helper.form(action = routes.BooksController.update(), 'id -> "bookUpdateForm"){

            @_bookFormFields(bookForm)


            @layouttest()
        }
        <button class="btn btn-primary" onclick="sendPutRequest('bookUpdateForm', '@routes.BooksController.edit(bookForm.get().id)')">
            <i class="fas fa-edit"></i>
            Update Book
        </button>
}